# Configuración de Acceso n8n
N8N_USER=admin
N8N_PASSWORD=cambiame_por_favor

# Inteligencia Artificial
COHERE_API_KEY=tu_api_key_aqui

# Configuración Segura de MySQL
MYSQL_ROOT_PASSWORD=una_clave_maestra_segura_123
MYSQL_DATABASE=escuela_db
MYSQL_USER=n8n_user
MYSQL_PASSWORD=otra_clave_para_n8n_abc
